* {
	padding: 0;
	margin: 0;
}

#login-dropdown-list {
    position: absolute;
    top: -1px;
	// par défaut, la propriété est left: -1px.
	// comme le bouton est en haut à droite,
	// vaut mieux écraser left.
	left: initial;
    right: -1px;
}

ui-view {
	display: block;
}

[ng-click], [data-ng-click] {
	touch-action: none;
}
