score-indicator {
	display: inline-block;

	background-color: black;
	color: white;

	padding: .2em .5em;
	height: 100%;
	box-sizing: border-box;

	span {
		display: inline-block;

		&.changed {
			animation: bump .4s;
		}
	}
}

@keyframes bump {
	50% {
		transform: scale(2.5);
	}
}
